{
  "cfType": "Profile",
  "community": "Physical Ocean Sciences",
  "creationDate": "2019-02-01T15:18:28.248-0700",
  "delimiter": "Comma",
  "format": "custom",
  "globalMetadata": [
    {
      "name": "title",
      "value": "JD206 AML CTD data",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "summary",
      "value": "CTD Sample File",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "source",
      "value": "spurs.jpl.nasa.gov",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "platform",
      "value": "CTD",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "instrument",
      "value": "AML CTD",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "depthinmeters",
      "value": "false",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "seacast_version",
      "value": "Version 4.0.3 B4",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "instrumentsn",
      "value": "30436",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "pressureoffset",
      "value": "0.70",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "usepressureoffset",
      "value": "true",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "fixedpressure",
      "value": "0.00",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "usefixedpressure",
      "value": "false",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "slot1sensor1",
      "value": "sv-c.xchange c.x sn 503421 07/02/15",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "slot3sensor1",
      "value": "p-t-tu-do-uv.xchange p.x sn 304606 04/27/15 t.x sn 404074 10/29/14",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "time_coverage_start",
      "value": "2015-07-25T22:08:36.90",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "geospatial_lat_start",
      "value": "10.0937",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "geospatial_lon_start",
      "value": "-125.0671",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "keywords",
      "value": "ocean, profile",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "institution",
      "value": "institution name goes here",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "history",
      "value": "history goes here",
      "type": "STRING",
      "group": "root"
    },
    {
      "name": "comment",
      "value": "comment goes here",
      "type": "STRING",
      "group": "root"
    }
  ],
  "headerLineNumbers": [
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22
  ],
  "platform": "CTD_Sonde",
  "rosettaVersion": null,
  "serverId": "micromsi",
  "templateVersion": "1.0",
  "variableInfoList": [
    {
      "columnId": 0,
      "name": "date",
      "rosettaControlMetadata": [
        {
          "name": "coordinateVariable",
          "value": "true",
          "type": "BOOLEAN"
        },
        {
          "name": "coordinateVariableType",
          "value": "dateOnly",
          "type": "STRING"
        },
        {
          "name": "type",
          "value": "Text",
          "type": "STRING"
        }
      ],
      "variableMetadata": [
        {
          "name": "units",
          "value": "yyyy-MM-dd",
          "type": "STRING"
        },
        {
          "name": "long_name",
          "value": "calendar date of observation",
          "type": "STRING"
        },
        {
          "name": "comment",
          "value": "date only",
          "type": "STRING"
        },
        {
          "name": "standard_name",
          "value": "time",
          "type": "STRING"
        }
      ]
    },
    {
      "columnId": 1,
      "name": "time",
      "rosettaControlMetadata": [
        {
          "name": "coordinateVariable",
          "value": "true",
          "type": "BOOLEAN"
        },
        {
          "name": "coordinateVariableType",
          "value": "timeOnly",
          "type": "STRING"
        },
        {
          "name": "type",
          "value": "Text",
          "type": "STRING"
        }
      ],
      "variableMetadata": [
        {
          "name": "units",
          "value": "HH:mm:ss.SS",
          "type": "STRING"
        },
        {
          "name": "long_name",
          "value": "clock time of observation",
          "type": "STRING"
        },
        {
          "name": "comment",
          "value": "time only",
          "type": "STRING"
        },
        {
          "name": "standard_name",
          "value": "time",
          "type": "STRING"
        }
      ]
    },
    {
      "columnId": 2,
      "name": "conductivity",
      "rosettaControlMetadata": [
        {
          "name": "coordinateVariable",
          "value": "false",
          "type": "BOOLEAN"
        },
        {
          "name": "coordinateVariableType",
          "value": null,
          "type": "STRING"
        },
        {
          "name": "type",
          "value": "Float",
          "type": "STRING"
        }
      ],
      "variableMetadata": [
        {
          "name": "units",
          "value": "S cm-1",
          "type": "STRING"
        },
        {
          "name": "standard_name",
          "value": "sea_water_electrical_conductivity",
          "type": "STRING"
        },
        {
          "name": "long_name",
          "value": "conductivity of sea water",
          "type": "STRING"
        },
        {
          "name": "comment",
          "value": "conductivity",
          "type": "STRING"
        }
      ]
    },
    {
      "columnId": 3,
      "name": "pressure",
      "rosettaControlMetadata": [
        {
          "name": "coordinateVariable",
          "value": "true",
          "type": "BOOLEAN"
        },
        {
          "name": "coordinateVariableType",
          "value": "vertical",
          "type": "STRING"
        },
        {
          "name": "positive",
          "value": "down",
          "type": "STRING"
        },
        {
          "name": "type",
          "value": "Float",
          "type": "STRING"
        }
      ],
      "variableMetadata": [
        {
          "name": "units",
          "value": "dBar",
          "type": "STRING"
        },
        {
          "name": "standard_name",
          "value": "depth",
          "type": "STRING"
        },
        {
          "name": "long_name",
          "value": "pressure of observation",
          "type": "STRING"
        },
        {
          "name": "comment",
          "value": "pressure",
          "type": "STRING"
        }
      ]
    },
    {
      "columnId": 4,
      "name": "battery_voltage",
      "rosettaControlMetadata": [
        {
          "name": "coordinateVariable",
          "value": "false",
          "type": "BOOLEAN"
        },
        {
          "name": "coordinateVariableType",
          "value": null,
          "type": "STRING"
        },
        {
          "name": "type",
          "value": "Float",
          "type": "STRING"
        }
      ],
      "variableMetadata": [
        {
          "name": "units",
          "value": "V",
          "type": "STRING"
        },
        {
          "name": "long_name",
          "value": "voltage of the sensor battery",
          "type": "STRING"
        },
        {
          "name": "comment",
          "value": "battery voltage",
          "type": "STRING"
        },
        {
          "name": "standard_name",
          "value": "battery_voltage",
          "type": "STRING"
        }
      ]
    },
    {
      "columnId": 5,
      "name": "DO_NOT_USE",
      "rosettaControlMetadata": null,
      "variableMetadata": null
    }
  ]
}