<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" debug="false">


   <appender name="rosettaLogger" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File" value="${catalina.home}/logs/rosetta.log"/>
      <param name="Threshold" value="DEBUG" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d{yyyy-MM-dd' 'HH:mm:ss Z}] %-5p [%c:%L] - %m%n"/>
      </layout>
   </appender>


   <logger name="edu.ucar.unidata.rosetta">
        <appender-ref ref="rosettaLogger"/>
   </logger>

  <logger name="org.springframework.core">
    <appender-ref ref="rosettaLogger"/>

    <level value="debug" />
  </logger>

  <logger name="org.springframework.beans">
    <appender-ref ref="rosettaLogger"/>

    <level value="debug" />
  </logger>

  <logger name="org.springframework.context">
    <appender-ref ref="rosettaLogger"/>

    <level value="debug" />
  </logger>

  <logger name="org.springframework.http">
    <appender-ref ref="rosettaLogger"/>

    <level value="debug" />
  </logger>
  <!-- below alternate between debug and info -->
  <logger name="org.springframework.web">
    <appender-ref ref="rosettaLogger"/>

    <level value="debug" />
  </logger>

  <root>
    <level value="DEBUG, file, stdout"/>
    <appender-ref ref="rosettaLogger"/>
  </root>


</log4j:configuration>
