<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


  <appender class="org.apache.log4j.DailyRollingFileAppender" name="rosettaLogger">
    <param name="File" value="${catalina.home}/logs/rosetta.log"/>
    <param name="Threshold" value="INFO"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="[%d{yyyy-MM-dd' 'HH:mm:ss Z}] %-5p [%c:%L] - %m%n"/>
    </layout>
  </appender>

  <appender class="org.apache.log4j.DailyRollingFileAppender" name="converterLogger">
    <param name="File" value="${catalina.home}/logs/converter.log"/>
    <param name="Threshold" value="INFO"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="[%d{yyyy-MM-dd' 'HH:mm:ss Z}] %-5p [%c:%L] - %m%n"/>
    </layout>
  </appender>

  <!-- rosetta loggers -->

  <logger additivity="false" name="edu.ucar.unidata.rosetta">
    <level value="INFO"/>
    <appender-ref ref="rosettaLogger"/>
  </logger>

  <logger name="edu.ucar.unidata.rosetta.converters.known.EolSoundingComp">
    <level value="INFO"/>
    <appender-ref ref="converterLogger"/>
  </logger>

  <logger name="edu.ucar.unidata.rosetta.converters.TagBaseArchivalTag">
    <level value="INFO"/>
    <appender-ref ref="converterLogger"/>
  </logger>

  <!-- spring loggers -->

  <logger additivity="false" name="org.springframework.web">
    <level value="INFO"/>
    <appender-ref ref="rosettaLogger"/>
  </logger>

  <logger additivity="false" name="org.springframework.core">
    <level value="INFO"/>
    <appender-ref ref="rosettaLogger"/>
  </logger>

  <logger additivity="false" name="org.springframework.beans">
    <level value="INFO"/>
    <appender-ref ref="rosettaLogger"/>
  </logger>

  <logger additivity="false" name="org.springframework.context">
    <level value="INFO"/>
    <appender-ref ref="rosettaLogger"/>
  </logger>

  <logger additivity="false" name="org.springframework.http">
    <level value="INFO"/>
    <appender-ref ref="rosettaLogger"/>
  </logger>


  <root>
    <level value="ERROR, file, stdout"/>
    <appender-ref ref="rosettaLogger"/>
  </root>

</log4j:configuration>
