/**
 * footer.css
 */
footer {
  border-top: 1px solid #06778F;
  padding-top: 5px;
  font-size: 9pt;
  color: #666666;
  font-style: italic;
  width: 100%;
  float: left;
  clear: left;
}

footer .left {
  margin: 10px 0;
  padding: 0;
}

footer .left img {
  float: left;
  margin-right: 10px;
}

footer .right {
  text-align: right;
  margin: 0;
}

footer .right img {
  float: right;
  padding-left: 10px;
}

