#banner {
    height: 70px;
    width: 100%;
    color: #f7f7f7;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
    border-bottom: 2px solid rgb(247, 247, 247);

    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;

    background: url("banner.png") no-repeat #F7F7F7;
    background-size: 100%;
    background-position: 0 -25px;
    background-repeat: repeat-x;
}


h1#title {
    margin: -10px 0px 0px 0px;
    padding-bottom: 40px;
    color: #f2f2f2;
    text-shadow: 3px 2px 4px #444;
    filter: drop-shadow(color=#444, offx-3, offy=2);
    background: url('txt.png'), url('acadis-service-logo.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 340px, 120px;
    background-position: 0px 0px, 350px 15px;
    min-width: 160px;
    /*
    background: url('acadis-service-logo_no-reflect.png') no-repeat;
    */
}