/**
 * jWizard/custom.css
 * 
 * Content found here are either changes to the standard CSS found in jWizard.base.css 
 * that comes with jWizard distribution, or custom jWizard-related style changes. The primary 
 * content of this file handles the format/display of the wizard and enables a custom "hack" 
 * to display a disabled "next" button for a step until the content gathering is complete.
 */

/* header section that displays the step title */
.jw-header {
    position: absolute;
    left: 240px;
    top: 75px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 10px;
    background: none;
    border: none;
}

/* step title */
.jw-header h2 {
    font-size: 11pt;
}

/* step menu and content */
.jw-content {
    border: 1px solid #CFCFCF;
}

/* menu wrapper */
.jw-menu-wrap {
    width: 220px;
    margin-right: 10px;
}

/* menu */
.jw-menu {
    font-size: 9pt;
    width: 220px;
    border-right: 1px solid #CFCFCF;
}

/* current menu step */
.jw-menu .jw-current {
    background: #FFFFFF url('../../img/current.png') 0 5px no-repeat !important;
    padding-left: 20px;
    font-weight: bold;
}

/* visited/completed menu step */
.jw-menu .jw-active {
    background: #FFFFFF url('../../img/step.png') 0 5px no-repeat !important;
    padding-left: 20px;
}

/* un-visited/in-complete menu step */
.jw-menu .jw-inactive {
    opacity: .35;
    background: #FFFFFF url('../../img/step.png') 0 5px no-repeat !important;
    padding-left: 20px;
}

/* step content wrapper */
.jw-steps-wrap {
    padding: 0 0 0 20px;
    margin: 40px 0 0 0;
    height: auto;
    min-height: 270px;
}

/* footer section that displays the navigation buttons */
.jw-footer {
    position: absolute;
    left: 0px;
    top: 350px;
    padding: 0;
    margin: 0 0 0 10px;
    background: none;
    border: none;
}

/* navigation button appearance */
.jw-buttons button {
    background: #E2EAf5 url('../../img/ui-bg_glass_75_e2eaf5_1x400.png') 50% 50% repeat-x;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    font-weight: normal;
    padding: .5em 1em;
    margin-left: 1em;
    color: #555555 !important;
}

/* disabling/hiding the cancel button */
.jw-button-cancel {
    display: none !important;
}

/* style for disabled/inactive buttons */
.jw-buttons button.disabled {
    background: #E6E6E6 url('../../img/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
    color: #CFCFCF !important;
}
